<?xml version="1.0" encoding="utf-8" ?>
<config>
    <db_config>
        <property name="db_url" value="jdbc:postgresql://localhost:5432/Chat"/>
        <property name="user_name" value="postgres"/>
        <property name="pass" value="12345"/>
        <property name="driver" value="org.postgresql.Driver"/>
    </db_config>
    <server>
        <property name="port" value="1778"/>
    </server>
</config>